*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('Clock-Wallpapers-25-images-DodoWallpaper..jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    position: absolute;
    top: 19%;
    left: 46%;
}

.clockDiv{
    border: 3px solid rgb(71, 62, 62);
    height: 40px;
    width: 200px;
    color: white;
    min-height: 40px;
    text-align: center;
    font-size: xx-large;
    box-shadow: 2px 4px grey;
}